# Ignore everything
/*

# Know what to add
!.gitignore

# I like vim
!.vim/
!.vimrc
!.selected_editor
# Ignore bundles though
.vim/bundle/*
# But do install vundle
!.vim/bundle/vundle

# I like zsh
!.oh-my-zsh
!.zshrc

# I like tmux
!.tmux.conf

# etc...
