# Ignore everything
/*

# Know what to add
!.gitignore

# I like vim
!.vim/
!.vimrc
# Ignore bundle though
.vim/bundle/*
!.vim/bundle/vundle

# I like zsh
!.oh-my-zsh
!.zshrc

# I like tmux
!.tmux.conf

# etc...
